nav {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    
}

nav img {
    height: 50px;
}

nav a {
    color: black;
    font-size: 1.25rem;
}

#header-container{
    display: flex;
    justify-content: center;

}

#header-container h2 {
    display:flex;
    justify-content: center;    
}

.menu img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    }

#menu-container {
    display: flex;
    justify-content: center;
}
#menu-container h3 {
    color: orange;
}

#team-container {
    display: flex;
    justify-content: center;

}
#team-container img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border-radius: 40%;
    padding: 10px;


}

