
* {
    font-family: Helvetica, sans-serif;
    color: orange;
}
p {
    font-family: sans-serif;
    color: black;
}

nav {
    display: flex; 
    top: 0;
    width: 99%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
}

nav img {
    height: 50px;
}

nav a {
    padding: 5px;
    color: black;
    font-size: 1.25rem;
}

#pic-container { 
    background-image:url('./images/the\ team.jpg');
    height: 700px;
    max-width: 1200px;
    background-size: cover;
    margin: 10% auto;   
    
}

#pic-container h2, p {
    display: flex;
    justify-content: center;
    
    
}

#header-container{
    margin-top: 10%;
    display: flex;
    justify-content: center;

}

#header-container h2 {
    display:flex;
    justify-content: center;    
}

.menu img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    }

#menu-container {
    display: flex;
    justify-content: center;
}
#menu-container h3 {
    color: orange;
}

#team-container , h3 {
    display: flex;
    justify-content: center;
    
}

#team-container {
   display: flex;
   justify-content: center;
   align-content: space-around;
}

#team-container img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 30%;
}
#img-container{
    display: block;
    align-content: space-around;
    background-image: url(./images/orange\ background.jpg);
    border-radius: 5%;
    outline-color: white;
}

#contact-container h2, p {
    display: flex;
    justify-content: center;
}

#contact-container h2 {
    border-top: 1px solid black;
    padding: 10px;

}